* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eeeeee;
    line-height: 1.6;
}

header {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

h2 {
    background-color: #1f1f1f;
    padding: 1rem;
    text-align: center;
}

h5 {
    background-color: #000000;
    padding: 2rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

.gallery {
    text-align: center;
    padding: 2rem;
}

.gallery img {
    max-width: 30%;
    margin: 1rem;
    border: 2px solid #444444;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    border-color: #ffffff;
}

.models {
    text-align: center;
    padding: 2rem;
}

.contact {
    text-align: center;
    padding: 2rem;
}

footer {
    background-color: #1f1f1f;
    color: #bbbbbb;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
